<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<add name="fPeerLending" connectionString="server=.\sqlexpress;database=fanikiwaDB;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />

		<add name="fGL" connectionString="server=.\sqlexpress;database=fGL;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />

		<add name="fDiary" connectionString="server=.\sqlexpress;database=fDiary;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />

		<add name="fMessage" connectionString="server=.\sqlexpress;database=fMessage;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />

		<add name="fUsers" connectionString="server=.\sqlexpress;database=fUsers;uid=sa;password=123456789;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />

	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IFinancialPostingService" closeTimeout="00:10:00"
                 openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
				<binding name="BasicHttpBinding_IStaticTransactionsService" closeTimeout="00:10:00"
				 openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
				<binding name="BasicHttpBinding_IMessagingService" closeTimeout="00:10:00"
				 openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:4025/GeneralLedgerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinancialPostingService"
                contract="GeneralLedgerServiceProxy.IFinancialPostingService"
                name="BasicHttpBinding_IFinancialPostingService" />
			<endpoint address="http://localhost:4025/GeneralLedgerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStaticTransactionsService"
                contract="GeneralLedgerServiceProxy.IStaticTransactionsService"
                name="BasicHttpBinding_IStaticTransactionsService" />
			<endpoint address="http://localhost:4035/fMessagingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessagingService"
                contract="MessagingServiceProxy.IMessagingService" name="BasicHttpBinding_IMessagingService" />
		</client>
	</system.serviceModel>

	<appSettings>
		<!--Default accounts-->
		<add key="LOANREPAYMENTACCOUNT"  value="100"/>
		<add key="CASHACCOUNT" value="104" />
		<add key="COMMISSIONACCOUNT" value="105" />
		<add key="MPESACASHACCOUNT" value="106" />
		<add key="MPESASUSPENSEACCOUNT" value="106" />
		<!--Transaction Types-->
		<add key="CASHDEPOSITTRANSACTIONTYPE"  value="2"/>
		<add key="MPESADEPOSITTRANSACTIONTYPE"  value="6"/>
		<add key="CASHWITHDRAWALTRANSACTIONTYPE"  value="3"/>
		<add key="MPESAWITHDRAWALTRANSACTIONTYPE"  value="5"/>
		<add key="ESTABLISHLOANTRANSACTIONTYPE"  value="1"/>
		<add key="LOANDRAWTRANSACTIONTYPE"  value="1"/>
		<!-- Account creation default types-->
		<add key="CURRENT_ACC_TYPE_ID"  value="1"/>
		<add key="LOAN_ACC_TYPE_ID"  value="2"/>
		<add key="INVESTMENT_ACC_TYPE_ID"  value="3"/>
		<!--COA Ids-->
		<add key="CURRENT_ACC_COA_ID"  value="2"/>
		<add key="LOAN_ACC_COA_ID"  value="1"/>
		<add key="INVESTMENT_ACC_COA_ID"  value="1"/>
		<!--System Configs--> 
		<add key="NUMBEROFTRANSACTIONTODISPLAYPERQUERY" value="5" />
		<add key="OFFEREXPIRYTIMESPANINMONTHS" value="1" />
		<add key="FANIKIWAMESSAGESTELNO"  value="254713460163"/>
		<add key="FANIKIWATELNO" value="0715714457" />
		<add key="FANIKIWAEMAIL" value="info@softwareproviders.co.ke" />
		<add key="FANIKIWAAGENT" value="KISERIAN" />
		<!--Offer Configs-->
		<add key="STOCommFreqFlag" value="PayCommissionPerOnce" />
		<add key="CHARGEWHOFLAG" value="Borrower" />
		<add key="INVITEEDOESNTEXISTACTION" value="create" />
	</appSettings>

</configuration>


